# Credentials for Medicover scripts
MEDICOVER_USER = your_username_here

# Reuse the DB from the main app.
# First, login with the WebApp using MFA and then run those scripts
APP_DB         = sqlite:///../medibot.sqlite

