<!DOCTYPE html>
<html lang="pl">
<head>
    <title>MEDIBOT | Login</title>
    {% include 'head.html' %}
</head>
<body class="login">
<div class="login-container">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <!-- Optionally add a logo here -->
    <img src="/static/medi_ico.png" class="login-logo" alt="Logo">
    <h2 class="mb-4 text-primary text-center">Witaj w MediBOT</h2>
    <form method="post" action="/login">
        <div class="mb-3">
            <label for="username" class="form-label">Numer karty Medicover</label>
            <input type="text" class="form-control" id="username" name="username" required autofocus>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Hasło Medicover</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" required>
                <button class="btn btn-outline-secondary" type="button" id="togglePassword" tabindex="-1" aria-label="Pokaż/ukryj hasło">
                    <i class="bi bi-eye" id="togglePasswordIcon"></i>
                </button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Zaloguj się</button>
    </form>
</div>
</body>
</html>